# Pacharm settings
.idea/

venv/
dataset/
test/data*
# Python chache
__pycache__/
.ipynb_checkpoints
.cache

# Logs folders
logs
tmp

# Audio and video
*.avi
*.mp4

# Images
*.jpg
*.bmp
*.png
*.svg
!test/loss_dataset/*.png

# Archives
*.tgz
*.zip
*.rar
*.gz

# Python models
*.npy
*.pkl
*.pt
*.pth
